.navbar {
    border-bottom: 100px;
    font-size: 8px;
}

.search-bar {
    width: 300px;
    margin-right: 35px;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .button {
      margin: 0px 5px;
  }

.login {
    margin-right: 17px;
}

.dropdown-item {
    cursor: pointer;
}
