.navbar {
    font-size: 12px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.search-bar {
    width: 350px;
    margin-right: 35px;
    color: white;
}

.login {
    margin-right: 17px;
}

.dropdown-item {
    cursor: pointer;
}
