<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand" href="">
        <img src="../../../assets/img/logo.svg" width="250" loading="lazy" data-toggle="collapse"
            data-target=".navbar-collapse.show">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Browse⯆
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <h6 class="dropdown-header">Platform:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="toBrowse(48)" data-toggle="collapse"
                        data-target=".navbar-collapse.show">PS4</a>
                    <a class="dropdown-item" (click)="toBrowse(49)" data-toggle="collapse"
                        data-target=".navbar-collapse.show">Xbox One</a>
                    <a class="dropdown-item" (click)="toBrowse(130)" data-toggle="collapse"
                        data-target=".navbar-collapse.show">Nintendo Switch</a>
                    <a class="dropdown-item" (click)="toBrowse(6)" data-toggle="collapse"
                        data-target=".navbar-collapse.show">PC</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="upcoming">Upcoming</a>
            </li>
        </ul>

        <mat-form-field appearance="standard" class="search-bar">
            <mat-label>Search</mat-label>
            <input matInput #newSearch (keydown.enter)="toSearch(newSearch.value); newSearch.value = ''" type='search'
                spellcheck="false">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div>
            <button type="button" class="btn btn-light btn-sm login login-register" data-toggle="modal"
                data-target="#loginModal" matRipple>
                Login</button>
            <button type="button" class="btn btn-secondary btn-sm login-register btn-register" data-toggle="modal"
                data-target="#registerModal" matRipple>
                Register</button>
        </div>

    </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login:</h5>
            </div>
            <div class="modal-body">
                <app-form-login></app-form-login>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mw-100 w-25" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Register:</h5>
            </div>
            <div class="modal-body">
                <app-form-register></app-form-register>
            </div>
        </div>
    </div>
</div>
