<button routerLink="">Home</button>
<button routerLink="upcoming">Upcoming</button>

<button (click)="toBrowse(48)">PS4</button>
<button (click)="toBrowse(49)">Xbox One</button>
<button (click)="toBrowse(130)">Nintendo Switch</button>
<button (click)="toBrowse(6)">PC</button>

<input #newSearch (keydown.enter)="toSearch(newSearch.value); newSearch.value = ''" type='text' placeholder="Search..." spellcheck="false"/>
<button (click)="toSearch(newSearch.value); newSearch.value = ''">Go!</button>

<hr>
