
.alert-danger {
    color: #b80012;
    margin-top: 5px;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
}

.alert-danger p {
    margin: 0;
}

.btn-login {
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-group {
    margin : 0 auto;
}

hr {
    margin-top: 10px;
}

label {
    margin-bottom: 1rem;
}
