<form>
    <div class="form-group">
        <label>Username:
            <input type="text" class="form-control" required>
        </label>
    </div>
    <div class="form-group">
        <label>Email address:
            <input type="email" class="form-control email" required>
        </label>
    </div>
    <div class="form-group">
        <label>Password:
            <input type="password" class="form-control password" required>
        </label>
    </div>
    <div class="form-group">
        <label>Confirm Password:
            <input type="password" class="form-control password" required>
        </label>
    </div>
    <hr>
    <button type="submit" class="btn btn-secondary btn-block">Submit</button>
</form>
