<div *ngIf="games">
    <div class="jumbotron jumbotron-fluid"
        [ngStyle]="{ background: 'linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%),
                    url(https://images.igdb.com/igdb/image/upload/t_original/'+ games[0].screenshots[0].image_id +'.png) ' }">
    </div>
</div>

<div class="info-container" *ngIf="games">
    <div *ngFor="let game of games" class="game-content">
        <div class="list-unstyled">
            <div class="media covers mg-fluid">
                <div class="img-container">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png"
                        class="img img-fluid img-thumbnail align-self-start mr-3" alt="covers">
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb-1" class="title">
                        <span><img src="../../../assets/img/Arrow.svg" width="25" loading="lazy"></span>
                        {{game.name}}
                    </h4>
                    <div class="dropdowns">
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownAvailableButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="button-label">Available On</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownAvailableButton">
                                <p *ngFor="let platform of game.platforms">• {{platform.name}}</p>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button data-display="static" class="btn btn-secondary btn-sm  dropdown-toggle"
                                type="button" id="dropdownReleaseButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="button-label">Release Dates</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownReleaseButton">
                                <div *ngFor="let release of game.release_dates">
                                    <div class="release-dates">
                                        <p>• <strong>{{release.human}}</strong></p>
                                        <p><em>{{getReleaseDateRegion(release.region)}}</em></p>
                                        <p>On {{release.platform.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownGenresButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="button-label">Genres</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownGenresButton">
                                <p *ngFor="let genre of game.genres">• {{genre.name}}</p>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <p class="summary">{{game.summary}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="games" class="media-container">
    <div class="container">
        <div class="title-container">
            <h1 class="media-title">
                <span><img src="../../../assets/img/Arrow.svg" width="25" loading="lazy"></span>
                Screenshots
            </h1>
            <hr>
        </div>
        <div class="row">
            <div *ngFor="let game of games">
                <div *ngFor="let screenshot of game.screenshots" class="col-lg-3 col-sm-6 media-list">
                    <img class="media-img img-fluid img-thumbnail" data-toggle="modal" data-target="#screenshotModal"
                        src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/{{screenshot.image_id}}.png">

                    <!-- Screenshot Modal -->
                    <div class="modal fade" id="screenshotModal" tabindex="-1" aria-labelledby="screenshotModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img class="modal-img img-fluid"
                                        src="https://images.igdb.com/igdb/image/upload/t_original/{{screenshot.image_id}}.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="games" class="media-container">
    <div class="container">
        <div class="title-container">
            <h1 class="media-title">
                <span><img src="../../../assets/img/Arrow.svg" width="25" loading="lazy"></span>
                Videos
            </h1>
            <hr>
        </div>
        <div class="row">
            <div *ngFor="let game of games">
                <div *ngFor="let video of game.videos" class="col-lg-3 col-sm-6 media-list">
                    <img class="media-img img-fluid img-thumbnail" data-toggle="modal" data-target="#videoModal"
                        src="https://i.ytimg.com/vi/{{video.video_id}}/maxresdefault.jpg">

                    <!-- Video Modal -->
                    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <!-- <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/{{video.video_id}}" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="games.length === 0" class="temp-error">
    <h1>Platform not found!</h1>
</div>

<div class="spacer"></div>
