
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
   }
   ::-webkit-scrollbar-thumb {
    background: #b8b8ba;
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #FF7B00;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
   }

.btn-block {
    display: block;
    width: 96%;
    margin-top: 10px;
}

.btn-collection {
    color: #fff;
    background-color: #ec7e00;
    border-color: #d6751b;
    margin-bottom: 5%;
    font-size: 16px;
}

.card {
    background-color: transparent;
}

.clickable {
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    margin: 5px;
}

.dropdown-menu{
    padding: 0;
    border-radius: .50rem;
    width: 150px !important;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown p {
    text-align: left;
    padding: 1px 10px;
    margin: 3px;
}

.dropdowns {
    text-align: left;
    margin-bottom: 10px;
}

.error-icon {
    width: 23px;
    vertical-align: -3px;
    color: rgb(95, 95, 100);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.error-media {
    font-size: 24px;
    margin-left: 16px;
    letter-spacing: 1px;
    color: rgb(255, 123, 0);
    font-family: 'Bebas Neue', cursive;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.error-summary {
    margin-left: 0px;
}

.game-content {
    width: 1200px;
    max-width: 95vw;
    margin: 30px auto;
    padding: 15px 15px 0px 15px;
}

hr {
    border: none;
    height: 2px;
    background: rgb(203,203,208);
    background: linear-gradient(90deg, rgb(206, 206, 212) 0%, rgba(255,255,255,0) 100%);
}

.hover {
    transition: border .2s ease-in-out, transform .2s ease-in-out;
    border: 2px solid transparent;
}

.hover:hover {
    border: 4px solid rgb(248, 132, 0);
    border-radius: 5px;
    transform: scale(1.05);
    cursor: pointer;
}

.hover-container {
    position: relative;
}

.img {
    width: 300px;
    border-radius: 10px;
}

.img-container {
    position: relative;
}

.img-thumbnail {
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
    -webkit-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
    -moz-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20vh;
    z-index: 1;
}

.jumbotron {
    color: white;
    height: 25vw;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-y: 15% !important;
}

.lead {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 0px 1px #2c2e3618, 0px 1px 1px #2c2e3618, 2px 1px 1px #2c2e3618, 1px 2px 1px #2c2e3618,
    3px 2px 1px #2c2e3618, 2px 3px 1px #2c2e3618, 4px 3px 1px #2c2e3618, 3px 4px 1px #2c2e3618, 5px 4px 1px #2c2e3618,
     4px 5px 1px #2c2e3618, 6px 5px 1px #2c2e3618, 5px 6px 1px #2c2e3618, 7px 6px 1px #2c2e3618;
}

.media {
    margin-bottom: -170px;
}

.media-img-container {
    margin: 10px 0;
    min-width: 255px;
    text-align: center;
}

.media-img {
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
    -webkit-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
    -moz-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
}

.media-list {
    display: inline-block;
}

.media-title {
    letter-spacing: 3px;
    font-size: 25px;
}

.modal {
    text-align: center;
}

.modal-img {
    width: 100%;
    /* max-height: 625px; */
    object-fit: cover;
    /* width: 100%;
    height: 250px; */
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color:#ffffffbd;
    font-size: 70px;
    cursor: pointer;
    text-shadow: 0 0 10px #0000000a;
}

.rating-container {
    font-size: 27px;
    width: 96%;
    height: 32.78px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,0) 5%, rgba(98,106,116,1) 50%, rgba(255,255,255,0) 95%);
}

.rating-title {
    padding-left: 85px;
    padding-top: 2px;
    text-shadow: 0 0 8px #3b3b3b;
}

.rating-star {
    font-size: 24px;
    padding-left: 5px;
    padding-top: 2px;
    color: rgb(255, 219, 17);
    text-shadow: 0 0 8px #3b3b3b;
}

.rating-score {
    font-size: 28px;
    padding-top: 3px;
    text-shadow: 0 0 8px #3b3b3b;
}

.release-dates {
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.15);
}

#summary {
    max-height: 290px;
    overflow-y: auto;
    padding: 5px;
    color: rgb(82, 82, 87);
    /* max-width: 720px; */
}

.spacer {
    padding-top: 6.5rem;
}

.temp-error {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 30px auto;
    padding: 15px 15px 0px 15px;
    border: 4px solid rgb(230, 230, 230);
    border-radius: 5px;
    color: rgb(255, 123, 0);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.title {
    color: rgb(113, 113, 119);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 0 0 40px #ffffff;
    margin-bottom: 5px;
    margin-left: 6px;
    font-weight: 600;
}

.title-container {
    margin: 2% auto 0 auto;
    color: rgb(119, 119, 131);
    font-family: 'Bebas Neue', cursive;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.253);
}

.primary-tooltip {
    background-color: #3F51B5 !important;
    color: red !important;
}

@media only screen and (max-width: 800px) {

    .img {
        width: 290px;
    }

    .img-container {
        padding-top: 95px;
        margin: 0 auto 14px auto;
        width: fit-content;
    }

    .media {
        flex-wrap: wrap;
    }

    .media-body {
        flex: 70%;
    }

    .title {
        font-size: 10vw;
    }

}

@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
        /* margin: 0 20px; */
    }
}

