
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
   }
   ::-webkit-scrollbar-thumb {
    background: #b8b8ba;
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #FF7B00;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
   }

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 230px; */
    bottom: 20vh;
    z-index: 1;
}

.card {
    background-color: transparent;
}

.clickable {
    cursor: pointer;
    text-decoration: none;
}

.dropdown-menu{
    padding: 0;
    border-radius: .50rem;

}

.game-content {
    width: 1200px;
    max-width: 95vw;
    margin: 30px auto;
    padding: 15px 15px 0px 15px;
    /* border-bottom: 3px solid rgb(230, 230, 230); */
    /* border: 3px solid rgb(230, 230, 230);
    border-radius: 5px; */

    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)); */
    /* -webkit-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
    -moz-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329);
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.329); */

    /* -webkit-box-shadow: 0px 0px 50px 20px #FFFFFF;
    box-shadow: 0px 0px 50px 20px #FFFFFF; */
}

hr {
    border: none;
    height: 2px;
    background: rgb(203,203,208);
    background: linear-gradient(90deg, rgb(206, 206, 212) 0%, rgba(255,255,255,0) 100%);
}

ul {
    list-style-type: circle;
}

.img {
    width: 300px;
    border-radius: 10px;
}

.jumbotron {
    color: white;
    height: 25vw;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-y: 15% !important;
}

.lead {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 0px 1px #2c2e3618, 0px 1px 1px #2c2e3618, 2px 1px 1px #2c2e3618, 1px 2px 1px #2c2e3618,
    3px 2px 1px #2c2e3618, 2px 3px 1px #2c2e3618, 4px 3px 1px #2c2e3618, 3px 4px 1px #2c2e3618, 5px 4px 1px #2c2e3618,
     4px 5px 1px #2c2e3618, 6px 5px 1px #2c2e3618, 5px 6px 1px #2c2e3618, 7px 6px 1px #2c2e3618;
}

/* .rating {
    margin-top: 2px;
    margin-bottom: 0;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.253);
}

.rating-container {
    text-align: center;
    border: 2px solid red;
    border-radius: 15px;
    width: 28.89px;
} */

.row p {
    text-align: left;
    padding: 5px;
    margin: 0;
}

.summary {
    /* font-size: 18px; */
    /* text-indent: 10px; */
    max-height: 175px;
    overflow-y: auto;
    padding: 5px;
}

.spacer {
    padding-top: 1.5rem;
}

.temp-error {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 30px auto;
    padding: 15px 15px 0px 15px;
    border: 4px solid rgb(230, 230, 230);
    border-radius: 5px;
    color: rgb(255, 123, 0);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.title {
    color: rgb(95, 95, 100);
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.253);
    padding-bottom: 5px;
    margin-bottom: 0;
    font-weight: 600;
}

@media only screen and (max-width: 1010px) {

    .img {
        width: 320px;
    }

    .img-container {
        margin: 0 auto 14px auto;
        width: fit-content;
    }

    .media {
        flex-wrap: wrap;
    }

    .media-body {
        flex: 70%;
    }

    .title {
        font-size: 18px;
    }

}
