<div *ngIf="games">
    <div *ngIf="games[0].artworks; else jumboError1" class="jumbotron jumbotron-fluid" [ngStyle]="{ background: 'linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%),
                url(https://images.igdb.com/igdb/image/upload/t_original/'+ games[0].artworks[0].image_id +'.png)'}">
    </div>

    <ng-template #jumboError1>
        <div *ngIf="games[0].screenshots; else jumboError2" class="jumbotron jumbotron-fluid" [ngStyle]="{ background: 'linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%),
        url(https://images.igdb.com/igdb/image/upload/t_original/'+ games[0].screenshots[0].image_id +'.png)'}">
        </div>
    </ng-template>

    <ng-template #jumboError2>
        <div class="jumbotron jumbotron-fluid jumbo-error"
            [ngStyle]="{ background: 'linear-gradient(0deg, rgba(255, 255, 255, 0) 100%, rgba(209, 209, 218) 100%)', height: '9vw'}">
        </div>
    </ng-template>
</div>

<div class="info-container" *ngIf="games">
    <div *ngFor="let game of games" class="game-content">
        <div class="list-unstyled">
            <div class="media covers mg-fluid">
                <div class="img-container">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png"
                        class="img img-fluid img-thumbnail align-self-start mr-3" alt="covers">
                    <div class="rating-container" *ngIf="game.total_rating"
                        matTooltip="Based on {{game.total_rating_count}} ratings" matTooltipClass="primary-tooltip"
                        [matTooltipPosition]="'above'">
                        <span class="rating-title">Score:</span>
                        <span class="rating-star">★</span>
                        <span class="rating-score">{{formatScore(game.total_rating)}}</span>
                    </div>
                    <button (click)="addToCollection()" type="button" class="btn btn-secondary btn-block btn-collection"
                        matRipple>Add toCollection
                    </button>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb-1" class="title">
                        <!-- <span><img src="../../../assets/img/Arrow.svg" width="24" loading="lazy"></span> -->
                        {{game.name}}
                    </h4>
                    <div class="dropdowns">
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownAvailableButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" matRipple>
                                <span class="button-label">Available On</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownAvailableButton">
                                <p *ngFor="let platform of game.platforms">• {{platform.name}}</p>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button data-display="static" class="btn btn-secondary btn-sm  dropdown-toggle"
                                type="button" id="dropdownReleaseButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" matRipple>
                                <span class="button-label">Release Dates</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownReleaseButton">
                                <div *ngFor="let release of game.release_dates">
                                    <div class="release-dates">
                                        <p>• <strong>{{release.human}}</strong></p>
                                        <p><em>{{getReleaseDateRegion(release.region)}}</em></p>
                                        <p>On {{release.platform.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownGenresButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" matRipple>
                                <span class="button-label">Genres</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownGenresButton">
                                <p *ngFor="let genre of game.genres">• {{genre.name}}</p>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="title-container">
                        <h1 class="media-title">
                            <span><img src="../../../assets/img/Arrow.svg" width="18" loading="lazy"></span>
                            Summary
                        </h1>
                    </div>
                    <p id="summary">{{game.summary}}</p>
                    <div class="error-media error-summary" *ngIf="!game.summary">
                        <mat-icon class="error-icon">
                            error_outline
                        </mat-icon>
                        No summary
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="games" class="media-container">
    <div class="container">
        <div class="title-container">
            <h1 class="media-title">
                <span><img src="../../../assets/img/Arrow.svg" width="18" loading="lazy"></span>
                Screenshots
            </h1>
            <hr>
        </div>
        <div class="row">
            <div *ngFor="let game of games">
                <div *ngFor="let screenshot of game.screenshots" class="col-lg-3 col-sm-6 media-list">
                    <div class="media-img-container hover" matRipple>
                        <img class="media-img img-fluid img-thumbnail" data-toggle="modal"
                            [attr.data-target]="'#' + screenshot.image_id"
                            src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/{{screenshot.image_id}}.png">
                    </div>
                    <!-- Screenshot Modal -->
                    <div class="modal fade" id="{{screenshot.image_id}}" tabindex="-1"
                        aria-labelledby="screenshotModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img class="modal-img img-fluid"
                                        src="https://images.igdb.com/igdb/image/upload/t_original/{{screenshot.image_id}}.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error-media" *ngIf="!game.screenshots">
                    <mat-icon class="error-icon">
                        error_outline
                    </mat-icon>
                    No screenshots
                </div>
            </div>
        </div>
        <div class="title-container">
            <h1 class="media-title">
                <span><img src="../../../assets/img/Arrow.svg" width="18" loading="lazy"></span>
                Videos
            </h1>
            <hr>
        </div>
        <div class="row">
            <div *ngFor="let game of games">
                <div *ngFor="let video of game.videos" class="col-lg-3 col-sm-6 media-list">
                    <div class="hover-container media-img-container hover" matRipple>
                        <mat-icon (click)="openModal(video.video_id)" class="play-button" [inline]="true"
                            data-toggle="modal" data-target="#video-modal">
                            play_circle_filled
                        </mat-icon>
                        <img (click)="openModal(video.video_id)" class="media-img img-fluid img-thumbnail"
                            data-toggle="modal" data-target="#video-modal"
                            src="http://i3.ytimg.com/vi/{{video.video_id}}/hqdefault.jpg">
                    </div>
                </div>
                <div class="error-media" *ngIf="!game.videos">
                    <mat-icon class="error-icon">
                        error_outline
                    </mat-icon>
                    No videos
                </div>
            </div>
        </div>
        <!-- Video Modal -->
        <div (click)="closeModal()" #videoModal class="modal fade" id="video-modal" tabindex="-1"
            aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe *ngIf="videoURL" #iframeModal id="youtubeVideo" class="embed-responsive-item"
                                width="560" height="315" [src]="videoURL" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="games.length === 0" class="temp-error">
    <h1>Platform not found!</h1>
</div>

<div class="spacer"></div>
