<div class="container" *ngIf="currentUser || urlUser; else loggedOut">

    <div *ngIf="games; else noGames" class="container container-games">
        <div class="title-container">
            <h1 class="title-popular"><span class="user-title">{{ username.toUpperCase() }}'s</span>
                COLLECTION:</h1>
            <hr>
        </div>
        <div>
            <button class="btn btn-warning btn-collection" *ngIf="!itemsInGamesList && isOwner" matRipple
                (click)="toggleEdit()">Edit
                Collection
            </button>
            <button class="btn btn-outline-secondary btn-deselect" *ngIf="itemsInGamesList" matRipple
                (click)="removeAllFromGamesList()">Deselect All
            </button>
            <button class="btn btn-danger btn-delete-collection" *ngIf="itemsInGamesList" matRipple
                (click)="removeAllGames()">Remove
            </button>
        </div>
        <div class="row">
            <div *ngFor="let game of games" class="col-lg-3 col-sm-6 media-list">
                <div class="game-button">
                    <a (click)="toGame(game.id)" class="clickable">
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png"
                            [ngStyle]='customStyle' class="img img-fluid img-thumbnail" alt="covers">
                    </a>
                    <button *ngIf="showEdit" class="btn btn-outline-warning btn-sm btn-block btn-select"
                        data-toggle="button" matRipple (click)="addToGamesList(game.id)">
                        <!-- <mat-icon>{{ buttonText }}</mat-icon> -->
                        Select
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noGames>
        <div class="container container-games">
            <div class="title-container">
                <h1 class="title-popular"><span class="user-title">{{ username.toUpperCase() }}'s</span>
                    COLLECTION:</h1>
                <hr>
            </div>
        </div>

        <div class="error">
            <img src="../../../assets/img/gaming.svg" class="error-img2">
            <div class="error-text">
                <p class="error-text-title">Uh-Oh! No games found!</p>
                <p class="error-text-body">Add some games to grow your collection!</p>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #loggedOut>
    <div class="error">
        <img src="../../../assets/img/error.svg" class="error-img">
        <div class="error-text">
            <p class="error-text-title">Uh-Oh! Looks like you aren't signed in!</p>
            <p class="error-text-body">Don't have an account? Register here!</p>
        </div>
    </div>
</ng-template>

<div class="spacer"></div>
