
.footer-checkpoint{
    /* background-image: url(../../../assets/img/footer.png);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
    padding: 1rem 0 .5rem 0;
    font-size: 50%;
    border-top: 1px solid #d4d4d4;;
    margin: 0 auto;
    text-align: center;
}

.footer-container a {
    color: rgb(233, 110, 27);
    font-weight: 500;
}

.footer-container p {
    margin: 0 0 7px auto;
}
