/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    padding-top: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
    background: url(./assets/img/background.png) no-repeat center .1px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
 } */

