/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    padding-top: 32px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Overpass', sans-serif;
}

body {
    background: url(../src/assets/img/background.png) no-repeat center .1px fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

hr {
    margin-top: 0;
}


