/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    padding-top: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
 }

 h1 {
     font-size: 30px;
 }

 p {
    font-size: 18px;
}
