
<div class="title-container">
    <h1><span class="upcoming-title">Upcoming</span> Games:</h1>
    <hr>
</div>

<div id="container">
    <div *ngIf="games">
        <div class="games-list-container">
            <div class="game-container" *ngFor="let game of games">
                <div class="game">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png"
                        class="img img-fluid img-thumbnail" alt="covers">
                    <p>{{game.release_dates[0].human}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="games.length === 0">
        <h1>Platform not found!</h1>
    </div>

    <div class="spacer"></div>
</div>
