
.btn-select {
    padding: 3px;
    border-color:#ec7e00;
    color:  #ec7e00;
    margin-left: 30px;
}

.btn-select:hover {
    color: white;
    border-color: #d6751b;
    background-color:#ec7e00;
}

.btn-select:not(:disabled):not(.disabled).active, .btn-select:not(:disabled):not(.disabled):active, .show>.btn-select.dropdown-toggle {
    color: white;
    border-color: #d6751b;
    background-color:#ec7e00;
}

.container {
    display: flex;
    align-items: center;
}
