<div id="container">
    <div *ngIf="games">
        <h1 *ngIf="games.length !== 0" class="popular-title">Popular <span>{{games[0].platforms[0].name}}</span> Games:
        </h1>
        <hr>
        <div *ngFor="let game of games" class="game-content">
            <ul class="list-unstyled">
                <li class="media covers mg-fluid">
                    <div class="img-container">
                        <a (click)="toGame(game.id)" class="clickable">
                            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png"
                                class="img img-fluid img-thumbnail align-self-start mr-3" alt="covers">
                        </a>
                    </div>
                    <div class="media-body">
                        <a (click)="toGame(game.id)" class="clickable">
                            <h4 class="mt-0 mb-1" class="title"><span><img src="../../../assets/img/Arrow.svg"
                                        width="25" loading="lazy"></span>
                                {{game.name}}
                            </h4>
                        </a>
                        <hr>
                        <p>{{game.summary}}</p>
                        <!-- <div class="rating-container" *ngIf="game.total_rating">
                            <font [color]="colorPicker(game.total_rating)">
                                <p class="rating">{{formatNumber(game.total_rating)}}</p>
                            </font>
                        </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="games.length === 0" class="temp-error">
        <h1>Platform not found!</h1>
    </div>
</div>

<div class="spacer"></div>
