<div *ngIf="games">
    <h1>Popular {{games[0].platforms[0].name}} Games:</h1>
    <hr>
    <div *ngFor="let game of games">
        <div class="title">
            <h1>【{{game.name}}】</h1>
        </div>

        <div class="covers">
            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png">
        </div>

        <div class="summary">
            <h3>Summary: <p>"{{game.summary}}"</p>
            </h3>
        </div>
    </div>
</div>

<div *ngIf="games.length === 0">
    <h1>Platform not found!</h1>
</div>
