<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Save your progress!</h1>
    <p class="lead">Easily track your entire video game collection with Checkpoint! Featuring thousands of titles with
      detailed information.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 content">
      <mat-card class="card">
        <div class="thumbnail">
          <mat-icon [inline]="true">search</mat-icon>
          <hr>
        </div>
        <h2>Search</h2>
        <p>Explore through thousands of entries to find exactly what you're looking for!</p>
      </mat-card>
    </div>
    <div class="col-lg-4 content">
      <mat-card class="card">
        <div class="thumbnail">
          <mat-icon [inline]="true">add_task</mat-icon>
          <hr>
        </div>
        <h2>Add</h2>
        <p>Found what you are looking for? Add it to your collection for safe keeping!</p>
      </mat-card>
    </div>
    <div class="col-lg-4 content">
      <mat-card class="card">
        <div class="thumbnail">
          <mat-icon [inline]="true">insert_emoticon</mat-icon>
          <hr>
        </div>
        <h2>Collect</h2>
        <p>Checkpoint makes it easy to appreciate your collection and watch it grow! </p>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="games" class="container container-games">
  <div class="title-container">
    <h1 class="title-popular"><span class="upcoming-title">Popular</span> Games:</h1>
    <hr>
  </div>
  <div class="row">
    <div *ngFor="let game of games" class="col-lg-3 col-sm-6 media-list">
      <a (click)="toGame(game.id)" class="clickable">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.png"
          class="img img-fluid" alt="covers">
      </a>
    </div>
  </div>
</div>

<div class="spacer"></div>
