
#container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
    margin: 30px auto;
    padding: 15px 15px 0px 15px;
}

.jumbotron {
    height: 50%;
    padding-top: 12vh;
}

.lead {
    font-size: 24px;
}

.popular-title {
    color: rgb(95, 95, 100);
    font-family: 'Bebas Neue', cursive;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.253);
}

.spacer {
    padding-top: 3.5rem;
}

.title {
    color: rgb(95, 95, 100);
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0, 0, 0, 0.253);
}
